@import url(root.css);


body{
	font-family: var(--font-primary);
	max-width: 100vw;
	color: var(--color-lightest);
	background-color: #ff9cc99b
}


.top-header {
	background-image:  repeating-radial-gradient(circle at 0 0, transparent 0, #3e001f 4px), repeating-linear-gradient(rgba(124, 0, 56, 0.88), #0f0e0e);
	background-color: #3e001f;
}



.bottom-header {
	background: 
      radial-gradient(calc(1.28*29px + 10.88px/2) at left 50% bottom calc(-.8*29px),#fb2485 calc(100% - 10.88px),#f11a7b calc(101% - 10.88px) 100%,#0000 101%) calc(2*29px) calc(-1*calc(1.5*29px + 10.88px)),
      radial-gradient(calc(1.28*29px + 10.88px/2) at left 50% bottom calc(-.8*29px),#e92d81 calc(100% - 10.88px),#f11a7b calc(101% - 10.88px) 100%,#0000 101%) calc(-1*29px) calc(calc(1.5*29px + 10.88px)/-2),
      radial-gradient(calc(1.28*29px + 10.88px/2) at left 50% top    calc(-.8*29px),#e92d81 calc(100% - 10.88px),#f11a7b calc(101% - 10.88px) 100%,#0000 101%) 0 calc(1.5*29px + 10.88px),
      radial-gradient(calc(1.28*29px + 10.88px/2) at left 50% top    calc(-.8*29px),#fb2485 calc(100% - 10.88px),#f11a7b calc(101% - 10.88px) 100%,#0000 101%) 29px calc(calc(1.5*29px + 10.88px)/ 2),
      linear-gradient(#fb2485 50%,#e92d81 0);
background-size: calc(4*29px) calc(1.5*29px + 10.88px);
}

.search .form-control{
	font-size: .7rem;
}

.bottom-header .nav-link {
	font-size: .8rem;
}

.pattern {
	background:
      conic-gradient(from -45deg,rgba(242, 27, 124, 0.88) 90deg,#0000 0 180deg,#3e001f 0 270deg,#0000 0)   
        0 calc(19px/2)/19px 19px,    
      conic-gradient(from 135deg at 50% 0,rgba(242, 27, 124, 0.88) 90deg,#3e001f 0)  
        0 0/calc(2*19px) 19px;
}

.edit-flex {
	flex: 0 1 30% !important;
}

.search-btn {
	background-color: var(--accentColor);
	color: var(--primaryColor);
}

.search-btn:hover {
	background-color: var(--color-lightest);
	color: var(--primaryColor);
}

.bg-1 {
	background: linear-gradient(270deg, #3e001fc2, #FFE5ADce, #f11a7bce ), url(../img/beautiful-casual-woman-fashion-set.jpg);
}

.filter {
	background-color: transparent;
	backdrop-filter: blur(3px);
}

.fit {
	overflow: hidden;
}

.fit img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.pattern-backgrond{
	background:
      conic-gradient(from -45deg,rgba(242, 27, 124, 0.88) 90deg,#0000 0 180deg,#3e001f 0 270deg,#0000 0)   
        0 calc(19px/2)/19px 19px,    
      conic-gradient(from 135deg at 50% 0,rgba(242, 27, 124, 0.88) 90deg,#3e001f 0)  
        0 0/calc(2*19px) 19px;
	overflow-x: hidden;
	min-width: 100%;
	height: 10px;
}

.enlarge {
	transition: all .4s cubic-bezier(0.895, 0.03, 0.685, 0.22);
	-webkit-transition: all .4s cubic-bezier(0.895, 0.03, 0.685, 0.22);
	-moz-transition: all .4s cubic-bezier(0.895, 0.03, 0.685, 0.22);
	-ms-transition: all .4s cubic-bezier(0.895, 0.03, 0.685, 0.22);
	-o-transition: all .4s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.enlarge:hover {
	overflow: hidden;
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
}

.enlarge h2 {
	font-size: 1.5rem;
}

/* Glitch */
.glitch-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
 }
 
 .glitch {
	position: relative;
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.2;
	color: #3e001f;
	letter-spacing: 5px;
	z-index: 1;
 }
 
 .glitch:before,
 .glitch:after {
	display: block;
	content: attr(data-glitch);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.8;
 }
 
 .glitch:before {
	animation: glitch-color 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
	color: #982176;
	z-index: -1;
	-webkit-animation: glitch-color 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}
 
 .glitch:after {
	animation: glitch-color 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
	color: #ff00ff;
	z-index: -2;
	-webkit-animation: glitch-color 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
}
 
 @keyframes glitch-color {
	0% {
	   transform: translate(0);
	}
 
	20% {
	   transform: translate(-3px, 3px);
	   -webkit-transform: translate(-3px, 3px);
	   -moz-transform: translate(-3px, 3px);
	   -ms-transform: translate(-3px, 3px);
	   -o-transform: translate(-3px, 3px);
}
 
	40% {
	   transform: translate(-3px, -3px);
	}
 
	60% {
	   transform: translate(3px, 3px);
	}
 
	80% {
	   transform: translate(3px, -3px);
	}
 
	to {
	   transform: translate(0);
	}
 }

.product {
	/* border-color: var(--primaryColor); */
} 

.product-overlay {
	position: relative;
} 

.price {
	background-image:  repeating-radial-gradient(circle at 0 0, transparent 0, #3e001f 4px), repeating-linear-gradient(rgba(124, 0, 56, 0.88), #0f0e0e);
	background-color: #3e001f;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	width: 100%;
	color: var(--accentColor);
	font-weight: 900;
	letter-spacing: 2px;
	text-align: center;
	border: none;
	transition: all .5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
	-webkit-transition: all .5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
	-moz-transition: all .5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
	-ms-transition: all .5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
	-o-transition: all .5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.price:hover {
	color: var(--accentColor);
}

 .product-name {
	color: var(--primaryColor);
	font-weight: 900;
	text-transform: uppercase;
	font-size: 1.1rem;
 }

 .product-description {
	font-size: .9rem
 }

.product-icon {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: var(--accentColor);
	font-size: 1rem;
	padding: .6rem .9rem;
	border-radius: .8rem 0 0 0;
	-webkit-border-radius: .8rem 0 0 0;
	-moz-border-radius: .8rem 0 0 0;
	-ms-border-radius: .8rem 0 0 0;
	-o-border-radius: .8rem 0 0 0;
	transition: all .05s cubic-bezier(0.895, 0.03, 0.685, 0.22);
	-webkit-transition: all .05s cubic-bezier(0.895, 0.03, 0.685, 0.22);
	-moz-transition: all .05s cubic-bezier(0.895, 0.03, 0.685, 0.22);
	-ms-transition: all .05s cubic-bezier(0.895, 0.03, 0.685, 0.22);
	-o-transition: all .05s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.product-icon i {
	color: var(--primaryColor);
}



.product-icon:hover {
   background-color: var(--tertiaryColor);
}

.product-price {
	font-size: .8rem;
	display: block;
	margin: 0;
}

.product-price-icon {
	font-size: .8rem;
	display: block;
}

.card-o {
	background-color: #fff;
}

.card-0__header {
	padding: .4rem 1rem;
	background-image:  repeating-radial-gradient(circle at 0 0, transparent 0, #3e001f 4px), repeating-linear-gradient(rgba(124, 0, 56, 0.88), #0f0e0e);
	background-color: #3e001f;
}
.product1 {
	aspect-ratio: 3/4;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	border: 1px solid var(--accentColor);
}

.product-image {
	aspect-ratio: 1/1;
	overflow: hidden;
	width: 100%;
}

.product-image img {
	width: 100%;
	height: auto;
	/* object-fit: cover; */
}

.product-description {
	padding: .35rem;
	color: #3e001f;
}

.product-description__name {
	margin: 0;
	font-size: .82rem;
	margin-bottom: .1rem;
}

.product-description__price {
	padding: 0;
	font-weight: bold;
	color: #0f0e0e;
	font-size: 1.3rem;
	margin: 0;
	margin-bottom: .1rem;
}

.product-description__fprice {
	text-decoration: line-through;
	font-size: .75rem;
}