@import url(root.css);
@import url(responsive.css);


body{
	font-family: var(--font-primary);
	/* background: linear-gradient(rgba(0, 0, 0, 0.779), rgba(0, 0, 0, 0.69)), url(../img/passport.jpg); */
	max-width: 100vw;
	color: var(--color-lightest)
}


.top-header {
	background-color: var(--tertiary-color);
}

.bottom-header {
	background-color: var(--accent-color) !important;
}

.edit-flex {
	flex: 0 1 30% !important;
}

.search-btn:hover, .search-btn {
	background-color: var(--tertiary-color);
	color: var(--color-lightest);
}

