@import url(root.css);


body{
	font-family: var(--font-primary);
	max-width: 100vw;
	color: var(--color-lightest);
	background-color: #ff9cc99b
}


.top-header {
	background-image:  repeating-radial-gradient(circle at 0 0, transparent 0, #3e001f 4px), repeating-linear-gradient(rgba(124, 0, 56, 0.88), #0f0e0e);
	background-color: #3e001f;
}



.bottom-header {
	background: 
      radial-gradient(calc(1.28*29px + 10.88px/2) at left 50% bottom calc(-.8*29px),#fb2485 calc(100% - 10.88px),#f11a7b calc(101% - 10.88px) 100%,#0000 101%) calc(2*29px) calc(-1*calc(1.5*29px + 10.88px)),
      radial-gradient(calc(1.28*29px + 10.88px/2) at left 50% bottom calc(-.8*29px),#e92d81 calc(100% - 10.88px),#f11a7b calc(101% - 10.88px) 100%,#0000 101%) calc(-1*29px) calc(calc(1.5*29px + 10.88px)/-2),
      radial-gradient(calc(1.28*29px + 10.88px/2) at left 50% top    calc(-.8*29px),#e92d81 calc(100% - 10.88px),#f11a7b calc(101% - 10.88px) 100%,#0000 101%) 0 calc(1.5*29px + 10.88px),
      radial-gradient(calc(1.28*29px + 10.88px/2) at left 50% top    calc(-.8*29px),#fb2485 calc(100% - 10.88px),#f11a7b calc(101% - 10.88px) 100%,#0000 101%) 29px calc(calc(1.5*29px + 10.88px)/ 2),
      linear-gradient(#fb2485 50%,#e92d81 0);
background-size: calc(4*29px) calc(1.5*29px + 10.88px);
}

.search .form-control{
	font-size: .7rem;
}

.bottom-header .nav-link {
	font-size: .8rem;
}

.pattern {
	background:
      conic-gradient(from -45deg,rgba(242, 27, 124, 0.88) 90deg,#0000 0 180deg,#3e001f 0 270deg,#0000 0)   
        0 calc(19px/2)/19px 19px,    
      conic-gradient(from 135deg at 50% 0,rgba(242, 27, 124, 0.88) 90deg,#3e001f 0)  
        0 0/calc(2*19px) 19px;
}

.edit-flex {
	flex: 0 1 30% !important;
}

.search-btn {
	background-color: var(--accentColor);
	color: var(--primaryColor);
}

.search-btn:hover {
	background-color: var(--color-lightest);
	color: var(--primaryColor);
}

.bg-1 {
	background: linear-gradient(270deg, #3e001fc2, #FFE5ADce, #f11a7bce ), url(../img/beautiful-casual-woman-fashion-set.jpg);
}

.filter {
	background-color: transparent;
	backdrop-filter: blur(3px);
}

.fit {
	overflow: hidden;
}

.fit img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.pattern-backgrond{
	background:
      conic-gradient(from -45deg,rgba(242, 27, 124, 0.88) 90deg,#0000 0 180deg,#3e001f 0 270deg,#0000 0)   
        0 calc(19px/2)/19px 19px,    
      conic-gradient(from 135deg at 50% 0,rgba(242, 27, 124, 0.88) 90deg,#3e001f 0)  
        0 0/calc(2*19px) 19px;
	overflow-x: hidden;
	min-width: 100%;
	height: 10px;
}

.enlarge {
	transition: all .4s cubic-bezier(0.895, 0.03, 0.685, 0.22);
	-webkit-transition: all .4s cubic-bezier(0.895, 0.03, 0.685, 0.22);
	-moz-transition: all .4s cubic-bezier(0.895, 0.03, 0.685, 0.22);
	-ms-transition: all .4s cubic-bezier(0.895, 0.03, 0.685, 0.22);
	-o-transition: all .4s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.enlarge:hover {
	overflow: hidden;
	transform: scale(1.5);
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
}

.enlarge h2 {
	font-size: 1.5rem;
}

/* Glitch */
.glitch-wrapper {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
 }
 
 .glitch {
	position: relative;
	font-size: 2rem;
	font-weight: 700;
	line-height: 1.2;
	color: #3e001f;
	letter-spacing: 5px;
	z-index: 1;
 }
 
 .glitch:before,
 .glitch:after {
	display: block;
	content: attr(data-glitch);
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.8;
 }
 
 .glitch:before {
	animation: glitch-color 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
	color: #982176;
	z-index: -1;
	-webkit-animation: glitch-color 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
}
 
 .glitch:after {
	animation: glitch-color 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
	color: #ff00ff;
	z-index: -2;
	-webkit-animation: glitch-color 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both infinite;
}
 
 @keyframes glitch-color {
	0% {
	   transform: translate(0);
	}
 
	20% {
	   transform: translate(-3px, 3px);
	   -webkit-transform: translate(-3px, 3px);
	   -moz-transform: translate(-3px, 3px);
	   -ms-transform: translate(-3px, 3px);
	   -o-transform: translate(-3px, 3px);
}
 
	40% {
	   transform: translate(-3px, -3px);
	}
 
	60% {
	   transform: translate(3px, 3px);
	}
 
	80% {
	   transform: translate(3px, -3px);
	}
 
	to {
	   transform: translate(0);
	}
 }

.card-o {
	background-color: #fff;
	overflow: hidden;
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
}

.card-0__header {
	padding: .6rem 1.5rem;
	background-image:  repeating-radial-gradient(circle at 0 0, transparent 0, #3e001f 4px), repeating-linear-gradient(rgba(124, 0, 56, 0.88), #0f0e0e);
	background-color: #3e001f;
	display: flex;
	justify-content: space-between;
}

.card-0__header p{
	/* padding: .2rem .7rem; */
	vertical-align: middle;
	font-size: 1.2rem;
	font-family: var(--font-secondary);
	font-weight: 600;
}

.card-0__header a{
	color: #0f0e0e;
	display: block;
	background-color: var(--accentColor);
	padding: .2rem .7rem;
	font-size: .8rem;
	margin: 0;
	border-radius: .3rem;
	-webkit-border-radius:;
	-moz-border-radius:;
	-ms-border-radius:;
	-o-border-radius:;
}
.product {
	aspect-ratio: 3/4;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	border-radius: .6rem;
	overflow: hidden;
	border: 1px solid #dddddd;
	-webkit-border-radius:;
	-moz-border-radius:;
	-ms-border-radius:;
	-o-border-radius:;
	transition: all .5s;
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	-ms-transition: all .5s;
	-o-transition: all .5s;
}

.product:hover {
	box-shadow: 1px 1px 5px 1px #dddddd;
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
}

.product-image, .s-product-image {
	overflow: hidden;
	display: flex;
	align-items: center;
}

.product-image {
	aspect-ratio: 1/1;
	width: 100%;
}

.s-product-image {
	height: 100%;
}

.product-image img, .s-product-image img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.product-description {
	padding: .35rem .45rem;
	color: #3e001f;
	margin: .4rem 0;
}

.product-description__name, .slide-desscription__name {
	font-family: var(--font-secondary);
	margin: 0;
	font-size: .82rem;
	margin-bottom: .1rem;
}

.product-description__price {
	font-family: var(--font-secondary);
	padding: 0;
	font-weight: 700;
	color: #0f0e0e;
	font-size: 1rem;
	margin: 0;
	margin-bottom: .1rem;
}

 .naira{
	margin-right: .2rem;
	text-decoration: line-through double;
	
}

.product-description__fprice {
	text-decoration: line-through;
	font-family: var(--font-secondary);
	font-size: .75rem;
}

.slides-Section {
	background-color: var(--accentColor);
	padding: 1.5rem 0rem;
}

.slider {
	width: 100%;
	background: #eeeeee;
	border-radius: 5px;
	padding: 2rem 1rem;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}



  .slides {
	transition: transform 0.5s ease-in-out;
	-webkit-transition: transform 0.5s ease-in-out;
	-moz-transition: transform 0.5s ease-in-out;
	-ms-transition: transform 0.5s ease-in-out;
	-o-transition: transform 0.5s ease-in-out;
}

  .slide .product {
	border: none;
  }


  .slide-desscription__name {
	color: var(--tertiaryColor);
	text-align: center;
  }

#howTo {
	color:#0f0e0e;
}

#howTo .headText {
	font-family: var(--font-secondary);
	font-weight: 700;
	text-align: center;
	font-size: 1.5rem;
}

#howTo i {
	color: var(--primaryColor);
	text-align: center;
	font-size: 2.7rem;
	width: 100%;
	margin-bottom: .8rem;
}

#howTo .description {
	font-family: var(--font-secondary);
	color: var(--primaryColor);
	font-weight: 600;
	text-align: center;
}

#howTo .detail {
	font-family: var(--font-secondary);

}

#howTo .col:nth-child(2), #howTo .col:nth-child(1) {
	border-right: 2px solid var(--primaryColor);
}


